/* index.css */

@font-face {
  font-family: "MyYuGothicM";
  font-weight: normal;
  src: local("YuGothic-Medium"),
    local("Yu Gothic Medium"),
    local("YuGothic-Regular");
}
@font-face {
  font-family: "MyYuGothicM";
  font-weight: bold;
  src: local("YuGothic-Bold"),
    local("Yu Gothic");
}

/*https://qiita.com/hashrock/items/5c18bf5086f52e4122e5*/

*, *:before, *:after {
    box-sizing: border-box;
}

html {
  font-family: /*-apple-system, BlinkMacSystemFont,*/ "Hiragino Kaku Gothic ProN", MyYuGothicM, Meiryo, sans-serif;
  font-size: 16px;
}

.flex-list {
  display: flex;
  flex-wrap: nowrap;
}

.flex-item {
  flex: 0 0 48%;
  max-width: 48%; /* IE11バグ対応 */
  background-color: white;
  /*text-align: center;*/
}

.flex-sub{
  flex: 0 0 4%;
  max-width: 4%;
  background-color: white;
}

.flex-button{
  display: flex;
  flex-direction: column;
}

#canvas{
    position: center;
    width: calc(100vw/2);
    height: calc(100vw/2);
    background-color: white;
    margin: 0 auto;
}
#editor{
    position: center;
    width: 100%;
    height: 92%;
    /* font-size: calc(100vw / 45); */
    text-align: left;
    background-color: #fef4f4;
    margin: 0 auto;
}


@media (max-width: 800px) {
  .flex-item {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  #canvas{
      position: center;
      width: 95%;
      height: calc(100vw*0.95);
      background-color: "white";
      margin: 0 auto;
  }
  #editor{
      position: center;
      width: 79%;
      height: 300px;
      background-color: #FFCCFF;
      font-size: calc(100vw / 45);
      text-align: left;
      margin: 0 auto;
  } 
  
}

#canvas:-webkit-full-screen{
	position : absolute ;
	left     : 0 ;
	top      : 0 ;
	width    : 100% ;
	height   : 100% ;
}
#canvas:-moz-full-screen {
	position : absolute ;
	left     : 0 ;
	top      : 0 ;
	width    : 100% ;
	height   : 100% ;
}
#canvas:-ms-fullscreen {
	position : absolute ;
	left     : 0 ;
	top      : 0 ;
	width    : 100% ;
	height   : 100% ;
}
#canvas:fullscreen {
	position : absolute ;
	left     : 0 ;
	top      : 0 ;
	width    : 100% ;
	height   : 100% ;
}

div.flex-button img {
  float: left;
  margin: 0 0 0 7px;
}

svg {
  margin: 0.4em;
  overflow: visible;
}

.i-large div { font-size: 4em; margin: 0 }
.i-medium div { font-size: 2em; margin: 0 }
.i-small div { font-size: 1.5em; margin: 0 }

.i-large,
.i-medium,
.i-small { max-width: 50em; margin: 0 auto 2em }


.tab_wrap{width:500px; margin:0px auto;}
.tab_area{font-size:0; margin:0 10px;position: absolute;left:20px;}
.tab_area label{width:150px; margin:5px; display:inline-block; padding:12px 0; color:black; background: pink; text-align:center; font-size:13px; cursor:pointer; transition:ease 0.2s opacity;border-top-left-radius: 10px;border-top-right-radius: 20px;}
.tab_area label:hover{opacity:0.5;}
.panel_area{background:#fff;}
.tab_panel{width:100%; padding:80px 0; display:none;}
.tab_panel p{font-size:14px; letter-spacing:1px; text-align:center;}
 
.tab_area label.active{background:#fff; color:#000;}
.tab_panel.active{display:block;}

.markdown-body {
  margin-left:50px;
  margin-right:50px;
  margin-top:3s0px;
  height: 700px;
  width:300px;
  padding: 20px;

}


/*スクロールバー全体*/
::-webkit-scrollbar {
  width: 10px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
border-radius: 10px;
box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 50, .5);
border-radius: 10px;
box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}

.container{
width: 100%;
height: 700px;
overflow: auto;
}

/* 分割のスタイル */
.split {
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;

  &.split-horizontal {
    height: 100%;
    float: left;
  }

}

/* 仕切りのスタイル*/
.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;

  &.gutter-vertical {
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: ns-resize;
  }

  &.gutter-horizontal {
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: ew-resize;
  }

  &.gutter-horizontal {
    height: 100%;
    float: left;
  }

}

.two-vertical-split {
  height: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;

  .top {
   
  }

  .bottom {
   
  }
}